.card-img-top {
    width: 100%;                /* La imagen ocupará todo el ancho del contenedor */
    height: 350px;              /* Fijamos la altura de la imagen */
    object-fit: cover;          /* Asegura que la imagen no se deforme */
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;               /* Hace que el cuerpo de la tarjeta ocupe el espacio restante */
}

.card h2, .card p {
    height: auto;               /* Ajusta la altura del texto automáticamente */
}
